.select{
 
        top:0;
        left:0;
        width: 113%;
        height:100%;
        border: 2px solid black;
        border-radius: 0.2rem;
        font-family: inherit;
        font-size: inherit;
        color: black;
        outline: none;
        padding: 1.25rem;
        background: none;
        display: flex;
        flex-direction: column;
        margin: 10px;
        
        
        
}