body{
    font-family: "Convergence",sans-serif;
    height:100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/joblisting-f64bd.appspot.com/o/websiteBackground.png?alt=media&token=a72d1851-9ef2-4f43-bf28-916e948a1dd0");
}
.title{
    text-align: center;
    margin-left: 50px;
    padding:10px;
    font-size: 130%;

}
.loginText{
    color: black;
}



.loginButton { 
    font-family: "Convergence",sans-serif;
    cursor: pointer;
    background:none; 
    border:none; 
    font-size: 21px;
    text-decoration:underline;


}
.loginButton:hover{
    color: #EF233C;
    cursor: pointer;
}
.moneyInput{
    top:0;
    left:0;
    width: 100%;
    height:100%;
    border: 2px solid black;
    border-radius: 0.2rem;
    font-family: inherit;
    font-size: inherit;
    color: black;
    outline: none;
    padding: 1.25rem;
    background: none;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.skillsList{
    top:0;
    left:0;
    width: 111%;
    height:100%;
    border: 2px solid black;
    border-radius: 0.2rem;
    font-family: inherit;
    font-size: inherit;
    color: black;
    outline: none;
    padding: 1.25rem;
    background: none;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
